@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/*Home*/

#home {
    position: relative;
    top: -1vh;
    height: 99vh;
    width: 100vw;
    background: url(./Images/home1.jpg) no-repeat;
    background-size:cover;
}

#home .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
}

.logo {
    position: absolute;
    top : 0;
    left: 0;
    margin-left: 4vw;
    margin-top: 0vh;
    scale: 0.35;
}

#bouton {
    position: absolute;
    top: 4vh;
    right: 10%;
    margin-right: 1vw;
    color: white;
    font-size: 0.9em;
    font-family: 'Roboto Slab', serif;
}

#bouton a {
    text-decoration: none;
    color: white;
    padding: 1vw;
}

#home .H{
    position: relative;
    text-align: center;
    color: #333;
    margin-top: 1vh;
    font-size: 2.1em;
}

#home .H h1 {
    position: absolute;
    top: -0vh;
    left: 15vw;
    color: white;
    opacity: 0.2;
    font-size: 11em;
    font-family: "Roboto Slab", serif;
}

#home .Hello{
    position: relative;
    text-align: center;
    margin-top: 1vh;
    top : 25vh;
    left : -19.2vw;
    color: white;
    opacity: 0.9;
    font-size: 4em;
    font-family: "Roboto Slab", serif;
    font-weight: 0;
}

#home .Texte p{
    position : absolute;
    top : 53vh;
    left : 18vw;
    color: white;
    font-size: 0.85em;
    font-family: "Roboto Slab", sans-serif;
    text-align: justify;
}
/*About*/

.Container {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
}

.Images {
    position: relative;
    width: 45%;
    height: 100vh;
    
}

.I{
    position: absolute;
    width: 40%;
    border: #c1b086 solid 0.5vh;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.836);
}

.A1 {
    width: 20%;
    height: 55%;
    top: 15vh;
    left: 10vw;
    z-index: 1;
    transition: all 1s;
}

.A1:hover {
    transform: scale(1.2);

}

.A2 {
    width: 20%;
    height: 30%;
    bottom: 22vh;
    left: 20.7vw;
    z-index: 2;
    transition: all 1s;
}

.A2:hover {
    transform: scale(1.2);
}

.Texte {
    font-family: "Roboto Slab", serif;
    position: relative;
    top: 15vh;
    left: 50vw;
    width: 55%;
    height: 100%;
    padding-left: 50px;
}

.Texte .trait {
    width: 6vw;
    height: 0.5vh;
    background-color: #c1b086;
    margin-bottom: 5vh;
}
.Texte p .RAISING {
    margin-top: 5vh;
    font-family: "Roboto Slab", serif;
    hyphens: auto;
    font-size: 2vh;
    color: #666;
    margin-bottom: 5vh; ;
}

.Texte span {
    font-size: 4vh;
    margin: 10px 0;
    margin-bottom: 2vh;
    hyphens: auto;
}

.Texte .Lorem {
    margin-left: 3vw;
    margin-top: 4vh;
    color: #666;
    line-height: 1;
    font-size: 1.5vh;
    line-height: 2.5vh;
    font-weight: 400;
    text-align: justify;
}

.Texte .Lorem2 {
    margin-left: 3vw;
    margin-top: 4vh;
    color: #666;
    line-height: 1;
    font-size: 1.5vh;
    line-height: 2.5vh;
    text-align: justify;
    margin-bottom: 10vh;
}
.Texte a {
    margin-left : 3vw;
    background-color: #c1b086;
    color: white;
    border: white solid 0.3vh;
    border-radius: 2px;
    padding: 10px 20px;
    border-radius: 2vw;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.836);
    text-decoration: none;
}

/*Amenties*/
#amenties {
    display: flex;
    align-items: flex-start; /* Assurez-vous que les enfants sont alignés en haut */
    height: 100vh;
    width: 100vw;
}

#amenties .container{
    display: flex;
    height: 100vh;
    width: 150vw;
}

#amenties .HAUT{
    position: relative;
    padding: 0%;
    left: -5vw;
    height: 50vh;
    width: 110vw;
    background-image: url(../images/ami.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 49.2vh;
    border: #c1b086 solid 0.5vh;
    border-radius: 15px;
}

#amenties .Texte{
    position: relative;
    padding: 0%;
    top: -20vh;
    left: 50vw;
    height: 50vh;
    width: 40vw;
    background-color: #3f9cc163;
    color: rgba(255, 255, 255, 0.575);
    border: #c1b08686 solid 0.5vh;
    border-radius: 15px;
    font-family: 'Roboto Slab', serif;
    transition: all 1s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#amenties .Texte:hover{
    background-color: #3f9cc1;
    color: white;
    border: #c1b086 solid 0.5vh;
    border-radius: 15px;
    
}

#amenties .Texte h1{
    position: relative;
    font-size: 1.3em;
    padding-top: 6%;
    padding-left: 5%;
    font-weight: 400;
}

#amenties .Texte .Lorem{
    position: relative;
    font-size: 1.6vh;
    padding-top: 5%;
    padding-left: 5%;
    line-height: 2em;
}

#amenties .Texte .signe{
    display: grid;
    padding-left: 5%;
    padding-top: 5%;
    position: relative;
    grid-template-areas: 
    "Swin Gym Spa"
    "Boat Surf Conf"
    "Diving Beach vide";
    gap: 0.2vh;
}


#amenties .Texte span{
    padding-right: 5%;
}

.Swin{
    position: relative;
    grid-area: Swin;
}

.Gym{
    grid-area: Gym;
}

.Spa{
    grid-area: Spa;
}

.Boat{
    padding-top: 2vh;
    grid-area: Boat;
}

.Surf{
    padding-top: 2vh;
    grid-area: Surf;
}

.Conf{
    padding-top: 2vh;
    grid-area: Conf;
}

.Diving{
    padding-top: 2vh;
    grid-area: Diving;
}

.Beach{
    padding-top: 2vh;
    grid-area: Beach;
}

#amenties a{
    left: 92.5vw;
    top: -21vh;
    position: relative;
    background-color: #c1b086;
    color: white;
    border: white solid 0.4vh;
    padding: 2vh 2vw;
    border-radius: 2vw;
    box-shadow: #00000080 0 0 1vh;
}
/*Rooms*/

#rooms .container {
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

#rooms .Haut {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    font-family: 'Roboto Slab', serif;

}

#rooms .Haut .trait {
    width: 6vw;
    height: 0.5vh;
    background-color: #c1b086;
}

#rooms .Haut p {
    display: flex;
    margin-top: 1.5%;
    width: 100%;
    height: 30%;
    font-size: 0.6em;
    color: #474747 ;
    letter-spacing: 0.2em;
}

#rooms .Haut .ROOMS {
    display: flex;
    margin-top: 1%;
    width: 100%;
    height: 50%;
    font-size: 1.5em;
    letter-spacing: normal;
    font-weight: 400;
    color: black;
}

#rooms .Haut a {
    top: -7vh;
    left: 75vw;
    position: relative;
    background-color: #c1b086;
    color: #fff;
    border: white 2px solid;
    padding: 1.5vh 1vw ;
    text-decoration: none;
    border-radius: 2vw; 
    box-shadow: #7e7d7dcb 0 1vh 1vh;
    max-width: 2vw;
    text-align: center;
    font-size: 0.6em;
}

#rooms .Bas {
    display: flex;
    height: 80%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    gap: 5%;
}

#rooms .Bas .photo1, .photo2 , .photo3 {
    padding: auto;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    border: #c1b086 0.5vh solid;
    border-radius: 5%;
    overflow: hidden;
}

#rooms .Bas img{
    display: flex;
    height: 100%;
    object-fit: cover;
}

#rooms .Bas p {
    display: flex;
    padding-left: 5%;
}
/*Restaurant*/

/*Gallery*/